@media only screen and (max-width: 734px) {
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .row {
    display: flex;
  }
  .row .col {
    flex: 1;
  }
  .row .col:last-child {
    margin-left: 1em;
  }
  /* Accordion styles */
  .tabs {
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.55);
  }
  .tab {
    width: 100%;
    color: #6e6e73;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.55);
  }
  .tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    cursor: pointer;
    font-size: 12px;
  }
  .tab-label:hover {
    color: black;
  }
  .tab-label::after {
    content: "+";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
  }
  .tab-content {
    text-align: start;
    max-height: 0;
    padding: 0 1em;
    padding-left: 40px;
    color: #f5f5f7;
    transition: all 0.35s;
  }
  .tab-content a:hover {
    text-decoration: underline;
  }
  .tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    cursor: pointer;
  }
  input:checked + .tab-label::after {
    transform: rotate(45deg) scale(1.08);
  }
  input:checked ~ .tab-content {
    max-height: 100vh;
  }
}
.tab-content a {
  color: #6e6e73;
  font-size: 13px;
  margin-bottom: 14px;
}
.curele-text {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 12px;
  text-align: start;
  color: #6e6e73;
}
#g-distribuitor p a {
  font-size: 14px;
}
.cookie {
  margin-left: 10px;
  display: flex;
  justify-content: start;
}
.cookie a {
  color: #6e6e73;
  font-size: 12px;
  padding-right: 10px;
  padding-left: 2px;
  border-right: 1px solid #6e6e73;
}
