@media only screen and (max-width: 734px) {
  .bigIMG {
    display: none;
  }
  .mediumIMG {
    display: none;
  }
  #content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 548px);
    grid-auto-rows: 406px;
    grid-template-areas:
      "iphone"
      "ip14"
      "apWU"
      "airP"
      "apWS8"
      "apWSE"
      "ap"
      "mBA"
      "aT"
      "footer";
  }
  nav li {
    display: none;
  }
  nav ul::after {
    content: "";
  }
  .d-sm-block {
    display: block;
  }
  .searchL {
    display: none;
  }
  #iphone {
    grid-area: iphone;
    background-image: url("images/small/hero_iphone14pro__e5xbgo5ffhg2_small.jpg");
  }
  #ip14 {
    grid-area: ip14;
    background-image: url("images/small/hero_iphone14_preorder__c4g2wjzuugqe_small.jpg");
  }
  #apWU {
    grid-area: apWU;
    background-image: url("images/small/hero_apple_watch_ultra__dtz0f3e8oscy_small.jpg");
  }
  #airP {
    color: white;
    background: black;
    grid-area: airP;
    background-position: center;
    background-image: url("images/small/promo_airpods_pro_avail__gaxggskofx6y_small.jpg");
  }
  #apWS8 {
    color: white;
    background: black;
    grid-area: apWS8;
    background-position: center;
    background-image: url("images/small/promo_apple_watch_series_8__ch7rexplmihe_small.jpg");
  }
  #apWSE {
    grid-area: apWSE;
    background-image: url("images/small/promo_apple_watch_se__f9702l6odgi2_small.jpg");
  }
  #ap {
    grid-area: ap;
    background-image: url("images/small/tile_airpods__fuv6vgn42y2q_small.jpg");
  }
  #mBA {
    grid-area: mBA;
    background-image: url("images/small/promo_macbookair__fywl7i82fueu_small.png");
  }
  #aT {
    grid-area: aT;
    background-image: url("images/small/promo_airtag__e6b73a64nno2_small.jpg");
  }
  footer {
    grid-area: footer;
    background: #f5f5f7;
  }
  h2 {
    font-size: 32px;
    line-height: 1.125;
    letter-spacing: 0.004em;
  }
  h3 {
    font-size: 19px;
    line-height: 1.21053;
    letter-spacing: 0em;
  }
  h4 {
    font-size: 32px;
    line-height: 1.125;
    letter-spacing: 0.002em;
  }
  h5 {
    font-size: 19px;
    line-height: 1.21053;
    letter-spacing: 0.012em;
  }
  h6 {
    font-size: 10px;
    font-weight: 800;
  }
  p {
    font-size: 10px;
  }
  a {
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -0.022em;
  }
  #iphone .text {
    padding-top: 37px;
    margin-top: 20px;
  }
  .big a {
    font-size: 17px;
    line-height: 1.23536;
    letter-spacing: -0.022em;
    margin-top: 0.7em;
  }
  ul {
    padding-left: 20px;
  }
  .search {
    display: none;
  }
  .smallNav {
    padding-left: 0;
  }
}
