@media only screen and (max-width: 734px) {
  .bigIMG {
    display: none;
  }
  .mediumIMG {
    display: none;
  }
  #content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 548px);
    grid-auto-rows: 406px;
    grid-template-areas:
      "iphone"
      "ip14"
      "apWU"
      "airP"
      "apWS8"
      "apWSE"
      "ap"
      "mBA"
      "aT"
      "footer";
  }
  nav li {
    display: none;
  }
  nav .navUl::after {
    content: "";
  }
  .d-sm-block {
    display: block;
  }
  .searchL {
    display: none;
  }
  #iphone {
    grid-area: iphone;
    background-image: url("images/small/hero_iphone14pro__e5xbgo5ffhg2_small.jpg");
  }
  #ip14 {
    grid-area: ip14;
    background-image: url("images/small/hero_iphone14_preorder__c4g2wjzuugqe_small.jpg");
  }
  #apWU {
    grid-area: apWU;
    background-image: url("images/small/hero_apple_watch_ultra__dtz0f3e8oscy_small.jpg");
  }
  #airP {
    color: white;
    background: black;
    grid-area: airP;
    background-position: center;
    background-image: url("images/small/promo_airpods_pro_avail__gaxggskofx6y_small.jpg");
  }
  #apWS8 {
    color: white;
    background: black;
    grid-area: apWS8;
    background-position: center;
    background-image: url("images/small/promo_apple_watch_series_8__ch7rexplmihe_small.jpg");
  }
  #apWSE {
    grid-area: apWSE;
    background-image: url("images/small/promo_apple_watch_se__f9702l6odgi2_small.jpg");
  }
  #ap {
    grid-area: ap;
    background-image: url("images/small/tile_airpods__fuv6vgn42y2q_small.jpg");
  }
  #mBA {
    grid-area: mBA;
    background-image: url("images/small/promo_macbookair__fywl7i82fueu_small.png");
  }
  #aT {
    grid-area: aT;
    background-image: url("images/small/promo_airtag__e6b73a64nno2_small.jpg");
  }
  footer {
    grid-area: footer;
    background: #f5f5f7;
  }
  h2 {
    font-size: 32px;
    line-height: 1.125;
    letter-spacing: 0.004em;
  }
  h3 {
    font-size: 19px;
    line-height: 1.21053;
    letter-spacing: 0em;
  }
  h4 {
    font-size: 32px;
    line-height: 1.125;
    letter-spacing: 0.002em;
  }
  h5 {
    font-size: 19px;
    line-height: 1.21053;
    letter-spacing: 0.012em;
  }
  h6 {
    font-size: 10px;
    font-weight: 800;
  }
  p {
    font-size: 10px;
  }
  a {
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -0.022em;
  }
  #iphone .text {
    padding-top: 37px;
    margin-top: 20px;
  }
  .big a {
    font-size: 17px;
    line-height: 1.23536;
    letter-spacing: -0.022em;
    margin-top: 0.7em;
  }
  ul {
    padding-left: 20px;
  }
  .search {
    display: none;
  }
  .smallNav {
    padding-left: 0;
  }

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .row {
    display: flex;
  }
  .row .col {
    flex: 1;
  }
  .row .col:last-child {
    margin-left: 1em;
  }
  /* Accordion styles */
  .tabs {
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.55);
  }
  .tab {
    width: 100%;
    color: #6e6e73;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.55);
  }
  .tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    cursor: pointer;
    font-size: 12px;
  }
  .tab-label:hover {
    color: black;
  }
  .tab-label::after {
    content: "+";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
  }
  .tab-content {
    text-align: start;
    max-height: 0;
    padding: 0 1em;
    padding-left: 40px;
    color: #f5f5f7;
    transition: all 0.35s;
  }
  .tab-content a:hover {
    text-decoration: underline;
  }
  .tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    cursor: pointer;
  }
  input:checked + .tab-label::after {
    transform: rotate(45deg) scale(1.08);
  }
  input:checked ~ .tab-content {
    max-height: 100vh;
  }
  hr {
    display: none;
  }
  .tabs-group {
    width: 100%;
  }
  .tab-content a {
    color: #6e6e73;
    font-size: 13px;
    margin-bottom: 14px;
  }
  .current-text {
    font-size: 12px;
    margin: 20px 30px;
    text-align: start;
    color: #6e6e73;
  }
  .current-text a {
    font-size: 12px;
  }
  #g-distribuitor p a {
    font-size: 14px;
  }
  .cookie {
    margin: 10px 30px;
    display: flex;
    justify-content: start;
  }
  .cookie a {
    color: #6e6e73;
    font-size: 12px;
    padding-right: 10px;
    padding-left: 2px;
  }
  .cookie > *:not(:last-child) {
    border-right: 1px solid #6e6e73;
  }
  input {
    display: none;
  }
  hr {
    margin: 17px 30px;
    /* margin-right: 30px; */
    border-color: #d2d2d7;
    border-bottom: none;
  }
  .copy-cookie {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}
